<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Pet Clinic</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item">
          <a href="/create-pet" class="nav-link" routerLink="create-pet">Add pet</a>
        </li>
        <li class="nav-item" >
          <a href="/pets" class="nav-link" routerLink="pets">Pet list</a>
        </li>
        <li class="nav-item">
          <a href="/owners" class="nav-link" routerLink="owners">Owners</a>
        </li>
      </ul>
  
    </nav>
  
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>