<div style="width: auto; margin: auto;">
    <h1>Find the repetition count</h1>
    <div class="submit-form">
        <div>
            <div class="form-group">
                <label for="text">Enter a Sentence</label>
                <input type="text" class="form-control" id="text" required [(ngModel)]="form.text" name="text" />
            </div>
            <br>
            <button (click)="checkRepetitions()" class="btn btn-success">Check for Repetitions</button>
        </div>

        <div *ngIf="received">
            <h4>Repetition checked successfully!</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Letter</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let letter of output">
                        <td>{{letter[0]}}</td>
                        <td>{{letter[1]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>