<div style="width: auto; margin: auto;">
    <h1>Find the repetition count</h1>
    <div class="submit-form">
        <div>
            <div class="form-group">
                <label for="text">Enter a Sentence</label>
                <input type="text" class="form-control" id="text" required [(ngModel)]="form.text" name="text" />
            </div>
            <br>
            <button (click)="checkRepetitions()" class="btn btn-success">Check for Repetitions</button>
        </div>

        <!-- <div *ngIf="submitted">
          <h4>You submitted successfully!</h4>
          <button class="btn btn-success" (click)="newTutorial()">Add</button>
        </div> -->
    </div>
</div>
