<div style="width: auto; margin: auto;">
    <h1>Add 2 words for compare</h1>
    <div class="submit-form">
        <div>
            <div class="form-group">
                <label for="text1">Text 1</label>
                <input type="text" class="form-control" id="text1" required [(ngModel)]="form.text1" name="text1" />
            </div>


            <div class="form-group">
                <label for="text2">text 2</label>
                <input class="form-control" id="text2" required [(ngModel)]="form.text2" name="text2" />
            </div>
            <br>
            <button (click)="checkAnagram()" class="btn btn-success">Check for anagram</button>
        </div>

        <div *ngIf="received">
          <h4>Anagram checked successfully!</h4>
          <p> {{words}} {{output}}</p>
        </div>
    </div>
</div>