<div class="card">
    <div class="card-header">
      {{title}}
    </div>
    
    <div class="card-body">
      <form #simpleForm="ngForm" (ngSubmit)="checkParagraph(simpleForm.value)">
        <div class="form-group">
          <label for="paragraph">Enter Paragraph: </label> &nbsp;&nbsp;
          <button *ngIf="isReload" class="btn btn-warning"(click)="reloadCurrentPage()">Reload Page</button>
          <app-output (showStatus)= 'onMessageReceived($event)'></app-output>
          <br><br>
          <textarea ngModel name="paragraph" id="paragraph" cols="20" rows="10" class="form-control"></textarea>
        </div>
        <br>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  
    <div class="card-body" *ngIf="isVowels">
      <div class="row">
        <div class="col-md-12">
          <label>Word Count: {{wordCount}}</label><br>
          <label>Words containing vowels: {{vowelWords}}</label><br>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Words containing vowels</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let word of result">
                <td>{{word}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
