<div style="width: 400px; margin: auto;">
    <h1>Add Pet</h1>
      <div class="submit-form">
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="pet.name"
              name="name"
            />
          </div>
    
          <div class="form-group">
            <label for="type">Type</label>
            <input
              class="form-control"
              id="type"
              required
              [(ngModel)]="pet.type"
              name="type"
            />
          </div>
  
          <div class="form-group">
            <label for="breed">Breed</label>
            <input
              class="form-control"
              id="breed"
              required
              [(ngModel)]="pet.breed"
              name="breed"
            />
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input
              class="form-control"
              id="age"
              required
              [(ngModel)]="pet.age"
              name="age"
            />
          </div>

          <div class="form-group">
            <label for="color">Color</label>
            <input
              class="form-control"
              id="color"
              required
              [(ngModel)]="pet.color"
              name="color"
            />
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
            <input
              class="form-control"
              id="gender"
              required
              [(ngModel)]="pet.gender"
              name="gender"
            />
          </div>
          <br>
          <button (click)="addPet()" class="btn btn-success">Save</button>
        </div>
    
        <div *ngIf="submitted">
          <h4>Pet added successfully!</h4>
          <button class="btn btn-success" (click)="newPet()">Add New Pet</button>
        </div>
      </div>
    </div>